{% load static %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <!-- required meta tags -->
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <title>da dating site</title>
    </head>
    <body>
        <!-- header -->
        {% include 'snippets/header.html' %}
        {% include 'snippets/base_css.html' %}
        {% include 'snippets/base_js.html' %}
        
        <style type="text/css">
            .main{
                min-height: 100vh;
                height:100%;
            }
        </style>
        <!-- body -->
        <div class="main">
            {% block content %}

            {% endblock content %}
        </div>
        <!-- end body -->
        <!-- footer -->
        {% include "snippets/footer.html" %}

        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>